@model SCR.Root.Models.AgentsModel
@{
    ViewBag.Title = "Agents List";
    Layout = "~/Views/Shared/_SCRLayout.cshtml";
}


<script type='text/javascript' src="~/js/plugins/pnotify/jquery.pnotify.min.js"></script>
<script type='text/javascript' src="~/js/plugins.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        Notifybox();
        $('#lblerrorbroker').hide();
        $('#lblerroroffice').hide();
        var searchfiltertype = '@TempData["type"]';
        $('#btnSearch').click(function () {
            Search(0, 10);          
        });   
        
       reloadSearchValues(searchfiltertype);
    });


    function reloadSearchValues(searchfiltertype) {
        debugger;
        if (searchfiltertype == 1) {         
           
           $("#rdbtnBroker").prop("checked", false);
            $('#divBroker').hide();
          
            $('#uniform-rdbtnOffice span').addClass('checked');
            $('#uniform-rdbtnBroker span').removeClass('checked');

           $("#rdbtnOffice").attr("checked", "checked");
        //   $("#rdbtnOffice").prop("checked", true);           
            $('#divOffice').show();
            $("#txtOfficeId").val('@TempData["value1"]');
            $("#txtOffice").val('@TempData["name"]');           

        }
        else if (searchfiltertype == 2) {

            $('#uniform-rdbtnOffice span').removeClass('checked');
            $('#uniform-rdbtnBroker span').addClass('checked');
            $("#rdbtnOffice").prop("checked", false);
            $('#divOffice').hide();

            $("#rdbtnBroker").prop("checked", true);            
            $('#divBroker').show();
            $("#txtBrokerId").val('@TempData["value1"]');
            $("#txtBroker").val('@TempData["name"]');
            $("#txtBrokerLastName").val('@TempData["lname"]');
        }
        else {
            $('#divBroker').hide();
            $('#divOffice').hide();
            $("#txtOfficeId").val('');
            $("#txtOffice").val('');
            $("#txtBrokerId").val('');
            $("#txtBroker").val('');
            $("#txtBrokerLastName").val('');
       @*  var value1=  ' @TempData.Remove("value1")';
            var name=  '@TempData.Remove("name")';
            var lname=  '@TempData.Remove("lname")';*@
        }
    }

    $(document).ready(function () {

        $('input[type=radio][name=filter]').change(function () {

            $('#lblerrorbroker').hide();
            $('#lblerroroffice').hide();
            $("#txtOfficeId").val('');
            $("#txtOffice").val('');
            $("#txtBrokerId").val('');
            $("#txtBroker").val('');
            $("#txtBrokerLastName").val('');
           
           
            if (this.value == 'office') {
                $('#divBroker').hide();
                $('#divOffice').show("slow");
                searchfiltertype = 1;
               
            }
            else if (this.value == 'broker') {
                $('#divOffice').hide();
                $('#divBroker').show("slow");
                searchfiltertype = 2;
            }
        });

        var criteria = 2;//default for 0 start with

        $('#txtOfficeId').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../../AgentsList/GetOffice",
                    type: "get",
                    datatype: "json",
                    data: { term: request.term, type: 1 },
                    cache: false,
                    minLength: 4,
                    success: function (json) {

                        response($.map(json, function (item) {
                            return { label: item.OfficeId, value: item.OfficeId, id: item.OfficeId };

                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#hdnOfficeId').val(ui.item.id);
            }
        });
        $('#txtOffice').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../../AgentsList/GetOffice",
                    type: "get",
                    datatype: "json",
                    data: { term: request.term, type: 2 },
                    cache: false,
                    minLength: 4,
                    success: function (json) {

                        response($.map(json, function (item) {
                            return { label: item.OfficeBusinessName, value: item.OfficeBusinessName, id: item.OfficeId };

                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#hdnOfficeId').val(ui.item.id);
            }
        });


        $('#txtBrokerId').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../../AgentsList/GetBroker",
                    type: "get",
                    datatype: "json",
                    data: { term: request.term, type: 1 },
                    cache: false,
                    minLength: 4,
                    success: function (json) {
                       
                        response($.map(json, function (item) {
                        
                            return { label: item.BrokerId, value: item.BrokerId, id: item.BrokerId };

                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#hdnBrokerId').val(ui.item.id);
            }
        });


        //$('#txtBroker').autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: "../../AgentsList/GetBroker",
        //            type: "get",
        //            datatype: "json",
        //            data: { term: request.term, type: 2 },
        //            cache: false,
        //            minLength: 4,
        //            success: function (json) {

        //                response($.map(json, function (item) {
        //                    return { label: item.BrokerName, value: item.BrokerName, id: item.BrokerId };

        //                }));
        //            }
        //        });
        //    },
        //    select: function (event, ui) {
        //        $('#hdnBrokerId').val(ui.item.id);
        //    }
        //});

    });






    function Notifybox() {

        if (('@TempData["error"]' != null && '@TempData["error"]' != "") && ('@TempData["errtitle"]' != "" && '@TempData["errtitle"]' != null)) {

            var message = '@TempData["error"]';
            var Title = '@TempData["errtitle"]';
            var ErrorType = '@TempData["errType"]';

            var errors = '@TempData.Remove("error")';
            var errtitles = '@TempData.Remove("errtitle")';
            var errTypes = '@TempData.Remove("errType")';

            if (ErrorType == "" && ErrorType == null) {
                ErrorType = "warning";
            }

            if (ErrorType == "success") {

                notify_s(Title, message);
            }
            else if (ErrorType == "info") {
                notify_i(Title, message);
            }
            else if (ErrorType == "error") {
                notify_e(Title, message);
            }
            else {
                notify(Title, message);
            }
        }
        else {
            var errors = '@TempData.Remove("error")';
            var errtitles = '@TempData.Remove("errtitle")';
            var errTypes = '@TempData.Remove("errType")';
            return true;
        }
    }
    function Search(start,pagesize) {

        debugger;
        var search = '@TempData["search"]';
        var filtertype = 0;
        var filterval = "";
        var name = "";
        var Lname = "";
      //  if (search == 0) {
            if ($("#rdbtnOffice").is(":checked")) {

                filtertype = 1;
                filterval = $("#txtOfficeId").val();
                name = $("#txtOffice").val();
                searchfiltertype = 1;
            }
            else if ($("#rdbtnBroker").is(":checked")) {
                filtertype = 2;
                filterval = $("#txtBrokerId").val();
                name = $("#txtBroker").val();
                Lname = $("#txtBrokerLastName").val();
                searchfiltertype = 2;
            }
      @*  }
        else {

            filterval = '@TempData["value1"]';
            filtertype = '@TempData["type"]';
            name = '@TempData["name"]';
            Lname = '@TempData["lname"]';
            searchfiltertype = '@TempData["type"]';
        }*@

        var data = filterval;
        var len = data.length;
        var c;
        var status;
        for (var i = 0; i < len; i++) {
            c = data.charAt(i).charCodeAt(0);
            if (c < 48 || c > 57) {
                if (filtertype == 1) {
                    $('#lblerroroffice').show();
                }
                else { $('#lblerrorbroker').show(); }
                event.preventDefault();
                status = 1;
                break;
            }
            else {
                if (filtertype == 1) {
                    $('#lblerroroffice').hide();
                }
                else { $('#lblerrorbroker').hide(); }
                status = 0;
            }
        }
        if (status = 0) {
            return;
        }
        var order = '@TempData["order"]';

        if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0)
        {
            $.ajax
           ({
               type: "GET",
               url: '/AgentsList/SearchFilter',
               data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': order , 'start': start, 'pagesize': pagesize, },
               success: function (response) {                  
                   window.location.href = response;
                   //var $radios = $('input[type=radio][name=filter]');
                   
                   //if (searchfiltertype == 1) {
                   //    $radios.filter('[value=office]').prop('checked', true);
                   //    $radios.filter('[value=broker]').prop('checked', false);
                   //    $('#divBroker').hide();
                   //    $('#divOffice').show();
                   //}
                   //else if (searchfiltertype == 2) {
                   //    $radios.filter('[value=broker]').prop('checked', true);
                   //    $radios.filter('[value=office]').prop('checked', false);
                   //    $('#divOffice').hide();
                   //    $('#divBroker').show();
                   //}
                   //else {
                   //    $('#divBroker').hide();
                   //    $('#divOffice').hide();
                   //}
               }
           });
        }
        else {
            notify("Agents List", "Please enter at least one item for searching.");
        }
    }


    //$(document).ready(function () {
    //    $("#txtBrokerId").keydown(function (e) {
    //        // Allow: backspace, delete, tab, escape, enter and .
    //        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
    //            // Allow: Ctrl+A, Command+A
    //            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||  (e.keyCode == 86 && (e.ctrlKey === true || e.metaKey === true)) ||
    //            // Allow: home, end, left, right, down, up
    //            (e.keyCode >= 35 && e.keyCode <= 40)) {
    //            // let it happen, don't do anything
    //            return;
    //        }
    //        // Ensure that it is a number and stop the keypress
    //        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
    //            $("lblerror").val("Enter a number");
    //            e.preventDefault();
               
    //        }
    //    });
    //});  lblerroroffice

    //$(document).ready(function () {
    //    $('#lblerrorbroker').hide();
    //    $('#btnSearch').click(function (event) {
    //        debugger;
    //        var data = $('#txtBrokerId').val();
    //        var len = data.length;
    //        var c;
    //        var status;
    //        for (var i = 0; i < len; i++) {
    //            c = data.charAt(i).charCodeAt(0);
    //            if (c < 48 || c > 57) {
    //                $('#lblerrorbroker').show();
    //                event.preventDefault();
    //                status = 1;
    //                break;
    //            }
    //            else {
    //                $('#lblerrorbroker').hide();
    //                status = 0;
    //            }
    //        }
    //        if (status = 0) {
    //            Search();
    //        }
    //    });
    //});
    
</script>

<link href="@Url.Content("~/css/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/jquery-1.4.4.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/js/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/jquery.tablesorter.pager.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
        .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
</script>*@


@using (Html.BeginForm("AgentsList", "AgentsList", FormMethod.Post, new { @class = "form-horizontal", @id = "validation" }))
{ 
    <div class="row-fluid">
        <div class="span12">
            <div class="head clearfix" >
                <div class="isw-zoom"></div>
                @* <ul class="buttons">
                    <li style="padding-top:6px;border-left: 1px solid #335A85;">
                        <input type="checkbox" value="Active" name="Active" id="chkMemberStatus" /><span style="color:#fff;">Member Status</span>
                    <li><a href="#" id="btnSearch1" class="isw-zoom"></a></li>
                   

                </ul>*@
            </div>
            <div class="block-fluid without-head">
                <div class="row-form clearfix">
                    <div class="span3" style="width:15%;">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   &nbsp;    <input type="radio" name="filter" id="rdbtnOffice" value="office">Under Office
                        </div>
                        <div class="span9" style="width:10%;">
                        <input type="radio" name="filter" id="rdbtnBroker" value="broker">Under Broker
                            
                           
                    </div>
                    <div class="span9" style="width:60%;">
                       @*  <input type="button" id="btnSearch" class="isb-zoom" style="width: 25px; height: 25px" />*@
                    </div>
                    <div class="block-fluid without-head span9" id="divOffice" style="display: none;">
                   <div class="row-form clearfix">
                            <div class="span3">
                            @Html.LabelFor(model => model.OfficeId, "Office Id", new { @id = "lblOffice" })
                                
                                </div>
                            <div class="span9">
                        <div style="float:left;width:30%">    @Html.TextBoxFor(model => model.strOfficeId, new { id = "txtOfficeId", @style = "width:100%;height:30px;margin-top: 15px; margin:1% 2.5%;resize:none;", maxlength = 150 })</div>
                        <div style="float:left;padding-left:10px;width:50%">                              
                            <label id="lblerroroffice" style="color:red;"> Only numericals allowed</label></div>
                                 </div></div>
                                <div class="row-form clearfix">
                          <div class="span3">
                            @Html.LabelFor(model => model.OfficeId, "Office Name", new { @id = "lblOffice" })

                          </div>
                              <div class="span9">
                         <div style="float:left;width:30%">     @Html.TextBoxFor(model => model.OfficeBusinessName, new { id = "txtOffice", @style = "width:100%;height:30px;margin-top: 15px; margin:1% 2.5%;resize:none;", maxlength = 150 })</div>
                          <div style="float:left;padding-left:10px;width:50%">    @Html.HiddenFor(model => model.OfficeId, new { @id = "hdnOfficeId" })</div>
                                  </div>
                        </div>
                    </div>
                    <div class="block-fluid without-head span9" id="divBroker" style="display: none;">
                        <div class="row-form clearfix">
                              <div class="span3">
                            @Html.LabelFor(model => model.BrokerId, "Broker Id", new { @id = "lblMember" })
                                 
                                  </div>
                                    <div class="span9">
                           <div style="float:left;width:30%">     @Html.TextBoxFor(model => model.strBrokerId, new { id = "txtBrokerId", @style = "width:100%;height:30px;margin-top: 15px; margin:1% 2.5%;resize:none;", maxlength = 150 })</div>
                              <div style="float:left;padding-left:10px;width:50%">     <label id="lblerrorbroker" style="color:red"> Only numericals allowed</label>
                                  </div>
                                    </div></div>

                        <div class="row-form clearfix">
                              <div class="span3">
                            @Html.LabelFor(model => model.BrokerId, "Broker's First Name", new { @id = "lblMemberFirstName" })
                                  </div>
                              <div class="span9">
                           <div style="float:left;width:30%">   @Html.TextBoxFor(model => model.BrokersFirstName, new { id = "txtBroker", @style = "width:100%;height:30px;margin-top: 15px; margin:1% 2.5%;resize:none;", maxlength = 150 })</div>
                           <div style="float:left;padding-left:10px;width:50%">  @Html.HiddenFor(model => model.BrokerId, new { @id = "hdnBrokerId" })</div>
                                  </div>
                        </div>
                        
                        <div class="row-form clearfix">
                              <div class="span3">
                            @Html.LabelFor(model => model.BrokerId, "Broker's Last Name", new { @id = "lblMemberLastName" })
                                  </div>
                              <div class="span9">
                           <div style="float:left;width:30%">   @Html.TextBoxFor(model => model.BrokersLastName, new { id = "txtBrokerLastName", @style = "width:100%;height:30px;margin-top: 15px; margin:1% 2.5%;resize:none;", maxlength = 150 })</div>
                           <div style="float:left;padding-left:10px;width:50%">  @Html.HiddenFor(model => model.BrokerId, new { @id = "hdnBrokerId" })</div>
                                  </div>
                        </div>

                    </div>
                    <div class="span9" style="width:60%;">
                         <input type="button" id="btnSearch" value="Search" style="width: 80px; height: 35px;float:left;" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="span12">
            <div class="head clearfix">
                <div class="isw-grid"></div>
                <ul class="buttons">
                    @* <li style="padding-top:6px;border-left: 1px solid #335A85;">
                        <input type="checkbox" value="Active" name="Active" id="chkMemberStatus" /><span style="color:#fff;">Member Status</span>
                    <li><a href="#" id="btnSearch" class="isw-zoom"></a></li>*@
                    <li><a href="~/AgentsList/Export" class="isw-download"></a></li>

                </ul>
            </div>
            <div class="block-fluid">
                <table cellpadding="0" cellspacing="0" width="100%" class="table tablesorter">
                    <thead>
                        <tr>
                            <th class="headertablesorter" id="Member_Id">Member Id</th>
                            <th class="headertablesorter" id="Last_Name">Last Name</th>
                            <th class="headertablesorter" id="First_Name">First Name</th>
                            <th class="headertablesorter" id="Office_Id">Office Id</th>
                            <th class="headertablesorter" id="Office_Name">Office Name</th>
                            <th class="headertablesorter" id="Member_Type">Member Type</th>
                          @*  <th colspan="2">sddsd</th>*@
                            <th class="headertablesorter" id="Brokers_Id">Broker's Id</th>
                             <th class="headertablesorter" id="Brokers_FirstName">Broker's First Name</th>
                            <th class="headertablesorter" id="Brokers_LastName">Broker's Last Name</th>
                            <th class="headertablesorter">View</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if (Model.AgentsModelList != null)
                        {
                            if (Model.AgentsModelList.Count > 0)
                            {
                                //foreach (var item in Model.AgentsModelList)
                                //{

                                int start = Convert.ToInt32(TempData["start"]);
                                int pagesize = Convert.ToInt32(TempData["pagesize"]);
                                int count = Convert.ToInt32(TempData["count"]);
                                if (pagesize + start > count) { pagesize = count - start; }
                                for (var i = start; i < start + pagesize; i++)
                                { 
                            <tr style="width: 20px; height: 50px">
                                <td>@Model.AgentsModelList[i].MemberId </td>
                                <td>@Model.AgentsModelList[i].LastName</td>
                                <td>@Model.AgentsModelList[i].FirstName</td>
                                <td>@Model.AgentsModelList[i].OfficeId</td>
                                 <td>@Model.AgentsModelList[i].OfficeBusinessName</td>
                                <td>@Model.AgentsModelList[i].MemberType</td>
                                <td>@Model.AgentsModelList[i].OfficeContactDR</td>
                                 <td>@Model.AgentsModelList[i].BrokersFirstName</td>
                                 <td>@Model.AgentsModelList[i].BrokersLastName</td>
                                  <td>
                                     <a href="@Url.Action("AgentDetails", "AgentsList", new { MemberId = @Model.AgentsModelList[i].MemberId })">
                                                <img src="" class="icon-eye-open" />
                                            </a>
                                </td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

                <div id="pager" style="position: none; padding-top: 5px;">
                    <form>
                        <img src="@Url.Content("~/img/first.png")" class="first" title="First" id="first"/>
                        <img src="@Url.Content("~/img/prev.png")" class="prev" title="Previous" id="prev"/>
                        <input type="text" class="pagedisplay" style="width: 70px; height: 20px;text-align:center;" title="Current Page" id="Current" readonly />
                        <img src="@Url.Content("~/img/next.png")" class="next" title="Next" id="next"/>
                        <img src="@Url.Content("~/img/last.png")" class="last" title="Last" id="last"/>
                        <select id="pagesize" class="pagesize" style="width: 55px; height: 30px;" title="Records per page">
                            <option selected="selected" value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </form>
                </div>

            </div>
        </div>
    </div>

@*</div>*@
}



<script>
    function setpage() {

        debugger;
        var count = '@TempData["count"]';
        var pagesize = '@TempData["pagesize"]';
        var start = '@TempData["start"]';
        var pages = Math.ceil(parseInt(count) / parseInt(pagesize));
        var currentPage;

        currentPage = Math.ceil(parseInt(start) / parseInt(pagesize));


        $("#Current").val((parseInt(currentPage) + parseInt(1)) + '/' + pages);
    };

    function order(order) {
        debugger;
        var start = '@TempData["start"]';
        var count = '@TempData["count"]';

        var pagesize = $("#pagesize option:selected").text();

       
            var url = "/AgentsList/AgentsList?start=" + start + " &&pagesize=" + pagesize + "&&order=" + order + "";
            window.location.href = url;
       
    }




    $(document).ready(function () {
        debugger;
        var filtertype = 0;
        var filterval = "";
        var name = "";
        var Lname = "";
        $("#pagesize").val('@TempData["pagesize"]');

        setpage();
        @*################################################################################################################################## *@
        $("#pagesize").change(function () {
            debugger;
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var count = '@TempData["count"]';
            var order = '@TempData["order"]';
            var pagesize = $("#pagesize option:selected").text();
            var total = parseInt(start) + parseInt(pagesize);
            if (total >= parseInt(count)) {
                // start = parseInt(start) + ((parseInt(start) + parseInt(pagesize)) - parseInt(count));
                if (parseInt(count) > parseInt(pagesize)) {
                    start = parseInt(count) - parseInt(pagesize)
                } else {

                    start = 0
                }
            } else {
                start = parseInt(start);
            }

            if (parseInt(search) == 0) {
                var url = "/AgentsList/AgentsList?start=" + start + " &&pagesize=" + pagesize + "&&order=" + order + "";
                window.location.href = url;
            }
            else {
                Search(start, pagesize);
            }
        });
        @* ########################### SORTING ####################################################################################################### *@
        $("#Member_Id").click(function () {
            debugger;
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';           
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' [MemberId] ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order(' [MemberId] ');
            }
        });

        $("#Last_Name").click(function () {
            debugger;
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' [LastName] ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order(' [LastName] ');
            }
        });
        $("#First_Name").click(function () {
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' [FirstName]  ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order(' [FirstName] ');
            }
        });
        $("#Office_Id").click(function () {
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' [OfficeId]  ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order(' [OfficeId]  ');
            }
        });
        $("#Office_Name").click(function () {
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' [OfficeBusinessName]  ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order('  [OfficeBusinessName]  ');
            }
        });
        $("#Member_Type").click(function () {
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' [MemberType]  ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order('  MemberType  ');
            }
        });
        $("#Brokers_Id").click(function () {
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' [BrokerId]  ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order(' BrokerId  ');
            }
        });
        $("#Brokers_FirstName").click(function () {
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' BrokerFirstName  ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order('  BrokerFirstName  ');
            }
        });

        $("#Brokers_LastName").click(function () {
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var pagesize = $("#pagesize option:selected").text();
            if (parseInt(search) == 1) {
                filterval = '@TempData["value1"]';
                filtertype = '@TempData["type"]';
                name = '@TempData["name"]';
                Lname = '@TempData["lname"]';
                if ((filterval != 0 || name != 0 || Lname != 0) && filtertype != 0) {
                    $.ajax
                   ({
                       type: "GET",
                       url: '/AgentsList/SearchFilter',
                       data: { 'type': filtertype, 'value1': filterval, 'name': name, 'lname': Lname, 'order': ' BrokerLastName  ', 'start': start, 'pagesize': pagesize, },
                       success: function (response) {
                           window.location.href = response;
                       }
                   });
                }
            } else {
                order('  BrokerLastName  ');
            }
        });
                            

        @*################################################################################################################################## *@
        $("#next").click(function () {
            debugger;
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var count = '@TempData["count"]';
            var order = '@TempData["order"]';
            var pagesize = $("#pagesize option:selected").text();
            var total = parseInt(start) + parseInt(pagesize);
            if (total >= parseInt(count))
            {              
                start = parseInt(count) - parseInt(pagesize) 
            }
            else
            {        
                    start = parseInt(start) + parseInt(pagesize);
            }
                 

            if (parseInt(search) == 0) {
                var url = "/AgentsList/AgentsList?start=" + start + " &&pagesize=" + pagesize + "&&order=" + order + "";
                window.location.href = url;
            }
            else {
                Search(start,pagesize);
            }

        });

        $("#prev").click(function () {
            debugger;
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var count = '@TempData["count"]';
            var order = '@TempData["order"]';
            var pagesize = $("#pagesize option:selected").text();
            if ((parseInt(start) - parseInt(pagesize)) < parseInt(0)) {
                start = 0;

            } else {
                start = parseInt(start) - parseInt(pagesize);
            }

            if (parseInt(search) == 0) {
                var url = "/AgentsList/AgentsList?start=" + start + " &&pagesize=" + pagesize + "&&order=" + order + "";
                window.location.href = url;
            }
            else {
                Search(start, pagesize);
            }
        });
        $("#first").click(function () {
            debugger;
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var count = '@TempData["count"]';
            var order = '@TempData["order"]';
            var pagesize = $("#pagesize option:selected").text();
            start = 0;

            if (parseInt(search) == 0) {
                var url = "/AgentsList/AgentsList?start=" + start + " &&pagesize=" + pagesize + "&&order=" + order + "";
                window.location.href = url;
            }
            else {
                Search(start, pagesize);
            }
        });
        $("#last").click(function () {
            debugger;
            var search = '@TempData["search"]';
            var start = '@TempData["start"]';
            var count = '@TempData["count"]';
            var order = '@TempData["order"]';
            var pagesize = $("#pagesize option:selected").text();

            start = parseInt(count) - parseInt(pagesize);
            if (parseInt(search) == 0) {
                var url = "/AgentsList/AgentsList?start=" + start + " &&pagesize=" + pagesize + "&&order=" + order + "";
                window.location.href = url;
            }
            else {
                Search(start, pagesize);
            }
        });

    });
    @* ################################################################################################################################## *@
</script>