@model SCR.Root.Models.SettingsModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_SCRLayout.cshtml";
}
<script type='text/javascript' src="~/js/plugins/pnotify/jquery.pnotify.min.js"></script>
<script type='text/javascript' src="~/js/plugins.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Notifybox();
       
    });

    function Notifybox() {

        if (('@TempData["error"]' != null && '@TempData["error"]' != "") && ('@TempData["errtitle"]' != "" && '@TempData["errtitle"]' != null)) {

            var message = '@TempData["error"]';
            var Title = '@TempData["errtitle"]';
            var ErrorType = '@TempData["errType"]';

            var errors = '@TempData.Remove("error")';
            var errtitles = '@TempData.Remove("errtitle")';
            var errTypes = '@TempData.Remove("errType")';

            if (ErrorType == "" && ErrorType == null) {
                ErrorType = "warning";
            }

            if (ErrorType == "success") {

                notify_s(Title, message);
            }
            else if (ErrorType == "info") {
                notify_i(Title, message);
            }
            else if (ErrorType == "error") {
                notify_e(Title, message);
            }
            else {
                notify(Title, message);
            }
        }
        else {
            var errors = '@TempData.Remove("error")';
            var errtitles = '@TempData.Remove("errtitle")';
            var errTypes = '@TempData.Remove("errType")';
            return true;
        }
    }


</script>
@using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { @class = "form-horizontal", @id = "validation" }))
{
    @Html.ValidationSummary();
      @Html.HiddenFor(model => model.LoginId)
    <div>
        <div class="block-fluid without-head span9">
            <div class="row-form clearfix">
                <div class="span3">Old Password</div>
                <div class="span9" style="width: 300px">
                    @Html.TextBoxFor(model => model.OldPassword, new { @placeholder = "Password", maxlength = 8, @type = "password", @class = "validate[required]" })
                </div>
            </div>
            <div class="row-form clearfix">
                <div class="span3">New Password</div>
                <div class="span9" style="width: 300px">
                    @Html.TextBoxFor(model => model.NewPassword, new { @placeholder = "Password", maxlength = 8, @type = "password", @class = "validate[required]" })
                </div>
            </div>          
            <div class="row-form clearfix">
                <div class="span3">Confirm Password</div>
                <div class="span9" style="width: 300px">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @placeholder = "Password", maxlength = 8, @type = "password", @class = "validate[required]" })
                </div>
            </div>
        </div>
        <div class="span9">
           @* <button id="btnSave" class="btn" runat="server">Save</button>*@
               <button id="btnSave" class="btn" runat="server">
                Save 
             <i>
                 <img src="~/img/tick.png" class="pull-left imagepadding" /></i>
            </button>
        </div>
    </div>
    
}
