@model SCR.Root.Models.BrokerModel
@{
    ViewBag.Title = "Broker List";
    Layout = "~/Views/Shared/_SCRLayout.cshtml";
}
@*//Broker/BrokerList*@

<script src="@Url.Content("~/js/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
        .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
    $(document).ready(function () {
        var deptsArray = $('#hdnStatusId').val();
        $("#chkInActive").click(function () {
            if (this.checked) {
                $("#chkActive").prop("checked", false);
                $('#uniform-chkActive span').removeAttr("class", "fL");
            }
        });
        $("#chkActive").click(function () {
            if (this.checked) {
                $("#chkInActive").prop("checked", false);
                $('#uniform-chkInActive span').removeAttr("class", "fL");
            }
        });
        Notifybox();
        $('#btnSearch').click(function () {
            Search();
        });
        if (deptsArray == "InActive") {
            $("#chkInActive").prop("checked", true);
            $("#chkInActive").parent().attr("class", "checked");
        }
        if (deptsArray == "Active") {
            $("#chkActive").prop("checked", true);
            $("#chkActive").parent().attr("class", "checked");
        }
        if (deptsArray == "InActive+Active") {
            $("#chkActive").prop("checked", true);
            $("#chkInActive").prop("checked", true);
            $("#chkActive").parent().attr("class", "checked");
            $("#chkInActive").parent().attr("class", "checked");
        } 
        if (deptsArray == "") {
            $("#chkActive").prop("checked", true);
            $("#chkInActive").prop("checked", false);
            $("#chkActive").parent().attr("class", "checked");

        }
        if (deptsArray == "NOInActive + NOActive") {
            $("#chkActive").prop("checked", false);
            $("#chkInActive").prop("checked", false);       
        }
    });
    function Notifybox() {

        if (('@TempData["error"]' != null && '@TempData["error"]' != "") && ('@TempData["errtitle"]' != "" && '@TempData["errtitle"]' != null)) {

            var message = '@TempData["error"]';
            var Title = '@TempData["errtitle"]';
            var ErrorType = '@TempData["errType"]';

            var errors = '@TempData.Remove("error")';
            var errtitles = '@TempData.Remove("errtitle")';
            var errTypes = '@TempData.Remove("errType")';

            if (ErrorType == "" && ErrorType == null) {
                ErrorType = "warning";
            }

            if (ErrorType == "success") {

                notify_s(Title, message);
            }
            else if (ErrorType == "info") {
                notify_i(Title, message);
            }
            else if (ErrorType == "error") {
                notify_e(Title, message);
            }
            else {
                notify(Title, message);
            }
        }
        else {
            var errors = '@TempData.Remove("error")';
            var errtitles = '@TempData.Remove("errtitle")';
            var errTypes = '@TempData.Remove("errType")';
            return true;
        }
    }
    function Search() {
        var filterval = "";
        if ($('#chkInActive').is(":checked")) {
            filterval = "InActive";
        }
        else if ($('#chkActive').is(":checked")) {
            filterval = "Active";
        }
        else if ($('#chkActive').is(":checked")) {
            if ($('#chkInActive').is(":checked")) {
                filterval = "InActive+Active";
            }
        }
        else if ($('#chkInActive').is(":checked")) {
            if ($('#chkActive').is(":checked")) {
                filterval = "InActive+Active";
            }
        }
        else if (!$('#chkInActive').is(":checked")) {
            if (!$('#chkActive').is(":checked")) {
                filterval = "NOInActive+NOActive";
            }
        }
        else {
            filterval = "";
        }
        //if (filterval != "") {
        $.ajax
       ({
           type: "GET",
           url: '/Broker/ReportFilter',
           data: { 'value1': filterval },
           success: function (response) {
               window.location.href = response;
           }
       });
        //}
        //else {
        //    notify("Broker List", "Please enter at least one item for searching.");
        //}
    }
</script>
@using (Html.BeginForm())
{ 
       @Html.HiddenFor(model => Model.hdnStatus, new { @id = "hdnStatusId" })
    <div class="row-fluid">  
        <div class="span12">
            <div class="head clearfix">
                <div class="isw-grid"></div>
                <ul class="buttons">                   
                     <li style="padding-top:6px;border-left: 1px solid #335A85;">
                        <input type="checkbox" value="Expired" id="chkActive" title="Active" name="Active"/><span style="color:#fff;">Active Brokers</span></li>
                    <li style="padding-top:6px;border-left: 1px solid #335A85;">
                        <input type="checkbox" value="Active" id="chkInActive" title="InActive" name="InActive"/><span style="color:#fff">InActive Brokers</span></li>
                    <li><a href="#" id="btnSearch" class="isw-zoom" title="Search"></a></li>
                   

                   
                    <li><a href="~/Broker/Export" class="isw-download" title="Export to Excel"></a></li>

                </ul>
            </div>
            <div class="block-fluid">
                <table cellpadding="0" cellspacing="0" width="100%" class="table tablesorter">
                    <thead>
                        <tr>
                            <th class="headertablesorter">Member Id</th>
                            <th class="headertablesorter">Last Name</th>
                            <th class="headertablesorter">First Name</th>
                            <th class="headertablesorter">Office Id</th>
                            <th class="headertablesorter">Member Type</th>
                            <th class="headertablesorter">View</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if (Model.BrokerModelList != null)
                        {
                            if (Model.BrokerModelList.Count > 0)
                            {
                                foreach (var item in Model.BrokerModelList)
                                {
                 
   
                            <tr style="width: 20px; height: 50px">
                                <td>@item.MemberId </td>
                                <td>@item.LastName</td>
                                <td>@item.FirstName</td>
                                <td>@item.OfficeId</td>
                                <td>@item.MemberType</td>
                                <td>@item.Status</td>

                                <td>
                                    <a href="@Url.Action("BrokerDetails", "Broker", new { MemberId = item.MemberId })" title="View Broker's Details">
                                        <img src="" class="icon-eye-open" />
                                    </a>
                                </td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

                <div id="pager" style="position: none; padding-top: 5px;">
                    <form>
                        <img src="@Url.Content("~/img/first.png")" class="first"  title="First"/>
                        <img src="@Url.Content("~/img/prev.png")" class="prev" title="Previous" />
                        <input type="text" class="pagedisplay" style="width: 70px; height: 20px; text-align: center;" readonly title="Current Page" />
                        <img src="@Url.Content("~/img/next.png")" class="next" title="Next"/>
                        <img src="@Url.Content("~/img/last.png")" class="last" title="Last"/>
                        <select class="pagesize" style="width: 55px; height: 30px;" title="Records per page">
                            <option selected="selected" value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </form>
                </div>

            </div>
        </div>
    </div>

}
